*{
  margin: 0;
  user-select: none;
box-sizing: border-box;
}
body,html{
 
  letter-spacing: 2px;
  scroll-behavior: smooth;
  
}

a{
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 100%;
}
a:hover{
  color: yellowgreen;
}
ul{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  justify-content: space-around;

}
li{
  list-style-type: none;
}

nav{
  width: 100vw;
}
.navBar{
  box-shadow: 2px 2px 5px rgb(252, 251, 252);
  position: fixed;
  /* top: 0; */
  width: 100%;
  padding: 1.5rem;
  background: white;
  z-index: 1;
}
.containerAlign{
  width: 100%;
  height: 80vh;
background:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)) ,url('https://images.pexels.com/photos/906150/pexels-photo-906150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') left / cover no-repeat ;
}
.containerAlign h1{
color: white;
position: absolute;
top: 50%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 3rem;
text-transform: capitalize;
left: 50%;
transform: translate(-50%,-50%);
}
.about {
  width: 100%;
  height: 50vh;
  margin: auto;
  background: yellowgreen;
  scroll-margin: 10rem 0;
  scroll-snap-type: y mandatory; 
}
.popup-content{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
transform: translate(-50%,50%);
background: white;
text-align: center;
padding: 1rem;
}
.popup-content p{
  line-height: 1rem;
  padding: 0.5rem;
}
.btn{
  cursor: pointer;
  margin:2rem;
  border: none;
  font-size: 1rem;
  padding: 3px 6px;
}
section {
  scroll-snap-align: start;
}




.about h1{

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  line-height: 5rem;
  font-size: 3rem;
}





